<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% if _code == 100 %}
    <h1>100</h1>
    <b>OK ?</b>
    <div>{{ name }}</div>
    <div>{{ number }}</div>
    {{ form|raw }}
{% elseif _code == 201 %}
    <h1>201</h1>
    <div>{{ name }}</div>
    <div>{{ number }}</div>
{% else %}
    <h1>{{ _code }}</h1>
    {{ form|raw }}
{% endif %}
</body>
</html>
</html>
